// ESLint defines the code conventions
// Prettier performs the auto-formatting based on the ESLint rules

// eslint-config-prettier: Turns off all ESLint rules that have the potential to interfere with Prettier rules.
// eslint-plugin-prettier: Turns Prettier rules into ESLint rules.

{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        // configs by others:
        "plugin:shopify/esnext",
        "prettier"
    ],
    "rules": {
        // 2 , 1, 0 => error, warning, ignore
        "no-console": 0,
        "prettier/prettier": 2
    },
    "env": {
        "browser": true,
        "node": true
    }
}

// awsome Eslint config:
// https://github.com/dustinspecker/awesome-eslint 