// ESLint defines the code conventions
// Prettier performs the auto-formatting based on the ESLint rules

{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        // configs by others:
        "plugin:shopify/esnext"
    ],
    "rules": {
        // 2 , 1, 0 => error, warning, ignore
        "no-console": 0
    },
    "env": {
        "browser": true,
        "node": true
    }
}

// awsome Eslint config:
// https://github.com/dustinspecker/awesome-eslint 